@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.section .container {
  display: flex;
  flex-direction: column;
  width: 1400px;
  align-items: center;
  margin: 0 auto;
  height: 60vh;
}

.section .container h1 {
  font-size: 40px;
  font-weight: 700;
  color: blue;
}

.section .container form {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 280px;
  padding: 20px;
}

.section .container form p {
  font-size: 24px;
  margin: 0;
  padding: 5px 0;
  font-weight: 700;
  border-bottom: 1px solid black;
}

.section .container form input {
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  padding: 5px;
}

.section .container form label {
  padding: 15px 0;
}

.section .container form button {
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  padding: 10px;
  margin: 10px 0;
  background: blue;
  color: white;
  border: none;
}

.section .container #checking {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 10px;
}

.section .container #checking .loading {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid green;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  animation: loading 0.6s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
